<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h3 class="ion-text-center">Bienvenido</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      
      <ion-col  item-center>
        <img src="../../../assets/best_location.svg" alt="" style="display: block;
        margin: auto;
        width: 55%;" >
      </ion-col>
    </ion-row>
  </ion-grid>

    <h3 class="ion-text-center">¿Donde quieres ver Terrazas?</h3>

    <ion-item>
      <ion-label>Estados Disponible</ion-label>
      <ion-select mode="ios"  interface="popover"   (ionChange)="checkCity($event)"  [ngModel]="location">
        <ion-select-option value="Jalisco">Jalisco</ion-select-option>
        <ion-select-option value="Nuevo León">Nuevo León</ion-select-option>
        <ion-select-option value="Ciudad de México">Ciudad de México</ion-select-option>
      </ion-select>
    </ion-item>
    
  <!-- <ion-searchbar animated 
        placeholder="Estado"  
        class="search-border padding-2" 
        (ionChange)="checkCity($event)" 
        [ngModel]="location">
  </ion-searchbar> -->
<!-- 
  <ion-button expand="full" fill="outline" color="light" size="large" (click)="getLocation()" >
    <ion-icon slot="start" name="locate-outline" color="primary"></ion-icon>
    <span  style="color:#17202F;font-size: 0.7em !important;">Usar ubicacion Actual</span>
  </ion-button> -->

</ion-content>

<ion-footer>
  <ion-row>
    <ion-col>
    </ion-col>
    <ion-col>
      <ion-button expand="full" color="tertiary" (click)="NextPage()" 
      [disabled]="!Existlocation">Siguiente</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>
