<ion-content fullscreen>
  <ion-fab vertical="top" horizontal="start"  slot="fixed" (click)="beforePage()">
    <ion-fab-button color="motel" Borde="false">
      <ion-icon name="chevron-back-outline" style="color:#f8d100;"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <img src="https://terrazas.tk/{{data.img}}" class="triangulo" style="margin-top: -5.5em;">
  <img src="../../../assets/booking.svg" alt="" style="display: block;
        margin: auto;
        width: 50%;" >
  <ion-grid>
    <h3 class="ion-text-center">{{ data.name}}</h3>
    <ion-row>
      <ion-col size="12" >
        <ion-item >
          <ion-label>Selecciona el día</ion-label>
          <ion-datetime 
              required  
              doneText="listo" 
              [(ngModel)]="day" 
              
              (ionChange)="verificatedDate(this.day)" 
              min="{{minimum_day}}" 
              displayFormat="DD MMM, YYYY"
              monthShortNames="Enero, Febreo, Marzo, Abril, Mayo, Junio, Julio, Agosto, Septiembre, Octubre, Noviembre, Diciembre"
              [max]="yearLimitIonDateTime" cancelText="Cancelar" ></ion-datetime>
        </ion-item>

      </ion-col>
    </ion-row>
    <h1 class="ion-text-center" style="color:green;">$ {{ data.price }}</h1>
  </ion-grid>  
  </ion-content>

<ion-footer>
  <ion-row>

    <ion-col>
      <ion-button class="btn-color" color="tertiary"  expand="full"  (click)="nextPage()" 
      [disabled]="!check
                  ">Siguiente</ion-button>
    </ion-col>
  </ion-row>
</ion-footer>

