<ion-header class="ion-no-border">
    <ion-toolbar >
        <ion-title class="ion-text-center" color="tertiary" >
          terraices
        </ion-title>
        <ion-icon slot="end" name="person-circle-outline" style="zoom:2.0;margin: .5em;"></ion-icon>
        <ion-buttons slot="start" style="margin: .5em 1.5em;" >
          <ion-buttons slot="start">
          </ion-buttons>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-searchbar 
                  placeholder="Buscar terraza"
                  animated
                  class="searchbar-input"
                  style="padding: 1em;border-radius: 50%;"
                  (ionChange)="buscarCiudad($event)"
                  [(ngModel)]="myInput"
                  (ionClear)="onCancel($event)"
                  >
    </ion-searchbar>
    <ion-card  *ngFor="let terrace of terraces">
      <ion-row>
        <ion-col size="6">
            <img style="margin: -.5em;" src="https://terrazas.tk/{{terrace.image}}" >
        </ion-col>
        <ion-col size="6">
          <p>{{terrace.name}}</p>
          <p>Desde $ {{ terrace.price }}</p>
          <p>{{ terrace.distance}} KM</p>
        </ion-col>
      </ion-row>
    </ion-card>

    

    
</ion-content>


