<ion-content>
<img src="https://terrazas.tk/img/fun.svg" style="width: 100%;padding: 1em 4em;" alt="">
<h2 style="color:#656867;font-size: 2em;padding: 0em 2em;">Ingresa</h2>
<ion-row style="margin: 1em 3em;">
  <ion-col size="2">
    <p><ion-icon style="margin:.5em;" name="mail-outline"></ion-icon></p>
  </ion-col>
  <ion-col size="10">
    <ion-item >
      <ion-label position="floating">Correo</ion-label>
      <ion-input [(ngModel)]="email"></ion-input>
    </ion-item>
  </ion-col>
</ion-row>

<ion-row style="margin:  1em 3em;">
  <ion-col size="2">
    <p><ion-icon style="margin:.5em;" name="lock-open-outline"></ion-icon></p>
  </ion-col>
  <ion-col size="10">
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
  </ion-col>
</ion-row>

<ion-button (click)="login()" style="position: absolute;
right: 2em;"  color="tertiary">Ingresar</ion-button>

<p style=" position: fixed;
left: 0;
bottom: 0;
width: 100%;
text-align: center;
font-weight: bold;">¿No tienes una cuenta?<span style="color:cornflowerblue;" RouterLink="/register">Registrate</span></p>
</ion-content>
