<ion-header class="ion-no-border">
  <ion-toolbar >
      <ion-title class="ion-text-center" color="tertiary" >
        Ingresa
      </ion-title>
      <ion-icon slot="end" name="close-outline" (click)="exit()" style="zoom:2.0;margin: .5em;"></ion-icon>
      <ion-buttons slot="start" style="margin: .5em 1.5em;" >
        <ion-buttons slot="start">
        </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="https://terrazas.tk/img/fun.svg" style="width: 100%;padding: 1em 4em; margin-top: 2em;" alt="">
<ion-row style="margin:1em;">
  <ion-col size="2">
    <p><ion-icon style="margin:.5em;" name="mail-outline"></ion-icon></p>
  </ion-col>
  <ion-col size="10">
    <ion-item >
      <ion-label position="floating">Correo</ion-label>
      <ion-input [(ngModel)]="email"></ion-input>
    </ion-item>
  </ion-col>
</ion-row>

<ion-row style="margin:1em;">
  <ion-col size="2">
    <p><ion-icon style="margin:.5em;" name="lock-open-outline"></ion-icon></p>
  </ion-col>
  <ion-col size="10">
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
  </ion-col>
</ion-row>

<ion-button (click)="login()" style="position: absolute;
right: 2em;"  color="tertiary">Ingresar</ion-button>

<p style=" position: fixed;
left: 0;
bottom: 0;
width: 100%;
text-align: center;
font-weight: bold;">¿No tienes una cuenta?<span style="color:cornflowerblue;" (click)="goToRegister()"> Registrate</span></p>
</ion-content>
