<ion-header class="ion-no-border">
  <ion-toolbar >
      <ion-title class="ion-text-center" color="tertiary" >
        
      </ion-title>
      <ion-icon slot="end" name="close-outline" (click)="exit()" style="zoom:2.0;margin: .5em;"></ion-icon>
      <ion-buttons slot="start" style="margin: .5em 1.5em;" >
        <ion-buttons slot="start">
        </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  
  <img src="https://terrazas.tk/img/login.svg" style="width: 90%;padding:  1em 4em;" alt="">
  <h2 style="color:#656867;font-size: 2em;padding: 0em 2em;">Registrate</h2>
  
  <ion-row style="margin: 1em 3em;">
    <ion-col size="2">
      <p><ion-icon style="margin:.5em;" name="receipt-outline"></ion-icon></p>
    </ion-col>
    <ion-col size="10">
      <ion-item >
        <ion-label position="floating">Nombre</ion-label>
        <ion-input [(ngModel)]="name"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row style="margin: 0.5em 3em;">
    <ion-col size="2">
      <p><ion-icon style="margin:.5em;" name="mail-outline"></ion-icon></p>
    </ion-col>
    <ion-col size="10">
      <ion-item >
        <ion-label position="floating">Correo</ion-label>
        <ion-input [(ngModel)]="email"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  
  <ion-row style="margin:  0.5em 3em;">
    <ion-col size="2">
      <p><ion-icon style="margin:.5em;" name="lock-open-outline"></ion-icon></p>
    </ion-col>
    <ion-col size="10">
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row style="margin:  0.5em 3em;">
    <ion-col size="2">
      <p><ion-icon style="margin:.5em;" name="lock-closed-outline"></ion-icon></p>
    </ion-col>
    <ion-col size="10">
      <ion-item>
        <ion-label position="floating">Confirma Contraseña</ion-label>
        <ion-input type="password" [(ngModel)]="password_confirm"></ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  
  <ion-button (click)="register()" style="position: absolute;
  right: 2em;"  color="tertiary">Ingresar</ion-button>
  

  

</ion-content>
  