.mini{
    height: 38%;
}
.thumbnail{
    height: auto;
}


.slider-1{
    height: 100%;
}
.slider-2{
    height: 100%;
}
.slider-3{
    height: 100%;
    
}
.margin{
    margin: .8em;
}

.border-radius-img{
    border-radius: 1em;
}

.bold{
    font-weight: bold;
}
.title-card{
    color: #4e4e55;
}
.subtitle-card{
   color: #b6b6b9;
}
