<ion-header class="ion-no-border">
  <ion-toolbar color="tertiary" style="
     padding:1em;
     /*border-radius:0em 0em 1em 1em; */
    ">
    <ion-searchbar 
                  placeholder="Buscar lugar o motel"
                  animated
                  class="search-border"
                  (ionChange)="buscarUsuario( $event )">

    </ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content>

  <h4 class="margin bold">Guadalajara</h4>
      <ion-slides class="mini margin"  [options]="slideOpts">
        <ion-slide class="slider-1 " (click)="showMotel()" *ngFor="let moteles of [1,1,1,1,1,1,1,1,1,1,1,1,1]" >
          <div>
            <img class="border-radius-img" src="https://a0.muscache.com/im/pictures/5ca54900-ce6e-4bb2-88f9-964e28c6e810.jpg?aki_policy=xx_large">
            <small class="title-card">Titulo grande del motel</small><br>
            <small  class="subtitle-card">7:00 am - 8:00 pm</small>
          </div>
        </ion-slide>
      </ion-slides>

      <h4 class="margin bold">Sugerencias</h4>


      <ion-slides class="thumbnail margin"  [options]="slideOptslarge">
        <ion-slide class="slider-1 " (click)="showMotel()" *ngFor="let moteles of [1,1,1,1,1,1,1,1,1,1,1,1,1]">
          <div>
            <img class="border-radius-img" src="https://a0.muscache.com/im/pictures/5ca54900-ce6e-4bb2-88f9-964e28c6e810.jpg?aki_policy=xx_large">
            <small class="title-card">Titulo grande del motel</small><br>
            <small class="subtitle-card">6:00 am - 7:00 pm</small>
          </div>
        </ion-slide>
        <ion-slide class="slider-2">
          <h1>Slide 2</h1>
        </ion-slide>
        <ion-slide class="slider-3">
          <h1>Slide 3</h1>
        </ion-slide>
      </ion-slides>

  
      <ion-card class="border-radius-img" (click)="showMotel()" *ngFor="let motels of [1,1,1,1,1]">
        <ion-row>
          <ion-col size="6">
              <img style="margin: -.5em;" src="https://a0.muscache.com/im/pictures/5ca54900-ce6e-4bb2-88f9-964e28c6e810.jpg?aki_policy=xx_large" >
          </ion-col>
          <ion-col size="6">
            <p>Titulo hasta aqui</p>
            <p>6:00 Am - 8:00 Pm</p>
          </ion-col>
        </ion-row>
      </ion-card>
   

</ion-content>
